.d-store-qrimg-bg {
  position: relative;
  width: 7.5rem;
  height: auto;
}

.d-store-qrimg {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 5rem;
  height: 5rem;
}

.d-store-p {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-52%, 0);
  text-align: center;
  font-size: .48rem;
}

.d-store-cha {
  position: absolute;
  right: .2rem;
  width: .8rem;
  height: auto;
}